.footer {
    background-image: url("https://yunusco.com/images/parallax/6.gif");
}

/* Define an animation class */
.animated-row-entering {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Define the final state class */
  .animated-row-entered {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  